$breakpoint-mobile: 481px;
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1024px;

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

.page-block {
}

.header {
  @include desktop {
    height: 80px;
  }
  background-color: bisque;
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .header-logo {
    padding: 22px;
  }

  & .header-menu-block {
    background-color: rgb(111, 207, 207);
    pointer-events: none;
    & .nav-block {
      padding-bottom: 10px;
      transition: transform 0.5s;
      height: 100%;
      & .nav-item-block {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        height: 100%;
        & .nav-item {
          padding: 0 22px;
          & .nav-item-link {
            &:hover {
              content: '';
              position: absolute;
              bottom: -5px;
              left: -2px;
              right: -2px;
              height: 2px;
              background-color: #fff;
            }

            & .text {
              position: relative;
              color: #fff;
              font-size: 18px;
              line-height: 20px;
              letter-spacing: -1px;
            }
          }
        }
      }
    }
  }
}

.main {
  height: 4365px;
}

.footer {
  background: #f4f8f8;
  padding: 60px 20px 50px;
  color: #212529;
  font-size: 13px;
  letter-spacing: -0.72px;

  & .footer-logo {
    display: block;
    width: 110px;
    height: 13px;
    background: url(https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/images/ftr_logo.png)
      no-repeat 0 0;
    background-size: cover;
  }
}
